virtualenv

# Python Libraries for python based installation
distro
python-magic
requests

git+git://github.com/fkie-cad/common_helper_files.git
git+git://github.com/fkie-cad/common_helper_process.git
