# dependencies
cryptography
docker
matplotlib
networkx
Pillow
pluginbase
pyopenssl

# installing common code modules
git+git://github.com/fkie-cad/common_helper_yara.git
git+git://github.com/mass-project/common_analysis_base.git

